{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'js/telegram_auth.js' %}"></script>
    <script>
        let tg = window.Telegram.WebApp;
        let csrfToken = '{{ csrf_token }}';
    </script>
</head>

<body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (!checkTelegramWebApp(tg)) {
                alert("This page works only in Telegram WebApp.");
                return;
            }
            authWithTelegram("{% url 'bot:auth' %}", tg, csrfToken);
            tg.ready();
            tg.expand();
        });
    </script>
</body>

</html>